body {
    margin: 0;
    font-family: 'Georgia', serif;
    font-size: 1.25em;
    color: #3e4349;
    border-top: 5px solid #3e4349;
}

.container { 
    max-width: 640px;
    margin: 0 auto;
    padding: 1em;
}

header {
    padding: 0 0 1em 0;
}

article {
    padding: 0 0 1em 0;
}

footer {
    padding: 0 0 1em 0;
}

nav {
    padding: 1em 0;
}

li {
    padding: 0 0 .5em 0;
}

p {
    line-height: 1.25em;
}

h1, h2, h3, h4 {
    font-family: 'Garamond', 'Georgia', serif;
    font-weight: normal;
    margin: 1em 0 .5em 0;
}

h1 {
    font-size: 2em;
}

h2 { 
    font-size: 1.5em;
    background: #fafafa;
    margin: 1em -.75em;
    padding: .5em .75em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

h3 {
    font-size: 1em;
}

h3 small {
    font-size: 16px;
    color: #999;
}

h4 {
    font-size: 19px;
}

blockquote {
    padding: 0 0 0 .75em;
    margin: 0 0 20px 0;
    border-left: 5px solid #eee;
}

blockquote small {
    color: #999;
}

a {
    color: #B85A3D;
}

a:hover {
    color: #D4A87D;
}

input[type="text"], input[type="password"] {
    width: 600px;
    padding: .75em;
}

textarea {
    width: 600px;
    height: 500px;
    padding: .75em;
}

code, pre {
    background: #fafafa;
    margin: 20px -30px;
    padding: 10px 30px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    word-wrap: break-word;
}

/* Large desktop */
@media (min-width: 1200px) {
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}
 
/* Landscape phones and down */
@media (max-width: 480px) {

.container { 
    padding: 0 .5em;
}

h1 {
    margin: .5em 0 .5em 0;
}

h2, code, pre {
    margin: .75em 0;
}

}
