{% from "_admin.html" import admin %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="container">
        {% if session.logged_in %}
            {{ admin(entry) }}
        {% endif %}
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
    </div>
</body>
</html>
