{% macro header() %}
    <h1>Corey Burmeister</h1>
    <p>
        I'm a Web Developer at <a href="http://discogs.com">Discogs</a>.
        When I am not cooking, traveling, or hunting for records,
        I'm helping music enthusiasts around the world build the
        largest and most comprehensive music database and marketplace.
    </p>
{% endmacro %}

{% macro tweet(entry) %}
    <nav>
        <a href="https://twitter.com/share"
            class="twitter-share-button"
            data-url="http://coreyburmeister.com/{{ entry.path }}"
            data-text="{{ entry.title }}"
            data-via="coreyburmeister"
            data-size="large"
            data-related=""
            data-hashtags="">
            Tweet
        </a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </nav>
{% endmacro %}
