{% macro header() %}
    <h1>
        Corey Burmeister
    </h1>
    <p>
        I'm a Web Developer currently living in Portland, OR. When I
        am not cooking, traveling, or hunting for records, I'm
        helping music enthusiasts around the world build the largest
        and most comprehensive music database and marketplace.
    </p>
{% endmacro %}

{% macro nav() %}
    <iframe src="http://ghbtns.com/github-btn.html?user=cburmeister&type=follow&count=true&size=large"
          allowtransparency="true" frameborder="0" scrolling="0" width="250" height="30"></iframe>
      <iframe src="http://discogs.coreyburmeister.com/discogs-btn.html?user=cburmeister&type=collection&size=large"
          allowtransparency="true" frameborder="0" scrolling="0" width="200" height="30"></iframe>
{% endmacro %}

{% macro tweet(entry) %}
    <nav>
        <a href="https://twitter.com/share"
            class="twitter-share-button"
            data-url="http://coreyburmeister.com/{{ entry.path }}"
            data-text="{{ entry.title }}"
            data-via="bluetickk"
            data-size="large"
            data-related=""
            data-hashtags="">
            Tweet
        </a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </nav>
{% endmacro %}
