{% from "_header.html" import header %}
{% from "_nav.html" import nav %}
{% extends "_layout.html" %}

{% block title %}Corey Burmeister - Resume{% endblock %}

{% block header %}
    <header>{{ header() }}</header>
    <nav>{{ nav() }}</nav>
{% endblock %}

{% block body %}
    <h2>Articles</h2>
    <ul>
        {% for entry in entries %}
        <li>
            <h3>
                <a href="{{ url_for('read', url=entry.url) }}">
                    {{ entry.title }}
                </a>
            </h3>
            <a href="{{ url_for('edit', id=entry.id) }}">Edit</a>
        </li>
    {% else %}
    <p>Unbelievable. No entries here so far</p>
    {% endfor %}
    </ul>
{% endblock %}
