{% from "_header.html" import header %}
{% from "_nav.html" import nav %}

{% extends "_layout.html" %}

{% block title %}Corey Burmeister{% endblock %}

{% block header %}
    <header>
        {{ header() }}
        <nav>{{ nav() }}</nav>
    </header>
{% endblock %}

{% block body %}
    <h2>Archives</h2>
    <ul>
        {% for entry in entries %}
            <li>
                <a href="{{ url_for('read', url=entry.url) }}">
                    {{ entry.title }}
                </a>
            </li>
        {% else %}
            <p>Unbelievable. No entries here so far</p>
        {% endfor %}
    </ul>
{% endblock %}
