{% from "_macro.html" import header, nav %}
{% extends "_layout.html" %}

{% block title %}Corey Burmeister{% endblock %}

{% block header %}
    <header>
        {{ header() }}
        <nav>{{ nav() }}</nav>
    </header>
{% endblock %}

{% block body %}
    <ul>
        {% for entry in entries %}
            <li>
                <h3>
                    <a href="{{ url_for('entry', path=entry.path) }}">
                        {{ entry.title }}</a>
                    <small>{{ entry.published.strftime('%B %e, %Y')  }}</small>
                </h3>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
