{% from "_macro.html" import header, nav, tweet %}
{% extends "_layout.html" %}

{% block title %}{{ entry.title }} - Corey Burmeister{% endblock %}

{% block header %}
    <header>
        <h1>{{ entry.title }}</h1>
        <p> 
            <span>by <a href="{{ url_for('index') }}">Corey Burmeister</a></span>
            <br />
            <span>written on {{ entry.ts.strftime('%B %e, %Y')  }}</span>
        </p>
    </header>
{% endblock %}

{% block body %}
    <article>{{ entry.html|safe }}</article>
    {{ tweet(entry) }}
{% endblock %}

{% block footer %}
    <footer>
        {{ header() }}
        <nav>{{ nav() }}</nav>
    </footer>
{% endblock %}
