{% from "_macro.html" import header, tweet %}
{% extends "_layout.html" %}

{% block title %}{{ entry.title }} - Corey Burmeister{% endblock %}

{% block header %}
    <header>
        <h1>{{ entry.title }}</h1>
        <p> 
            <span><a href="{{ url_for('index') }}">Corey Burmeister</a></span>
            <span>wrote this on {{ entry.published.strftime('%B %e, %Y')  }}</span>
        </p>
    </header>
{% endblock %}

{% block body %}
    <article>
        {{ entry.html|safe }}
    </article>
{% endblock %}

{% block footer %}
    <footer>
        {{ tweet(entry) }}
    </footer>
{% endblock %}
